.dropdown {
  position: absolute;
  top:41px;
  width: min-content;
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0rem;
  overflow: hidden;
  height: auto;
  
}


